.stat-card {
  width: 100%;
  padding: 24px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: left;
  cursor: pointer;

  transition: all 0.2s ease;
}

.stat-card:hover {
  border-color: #c7d2fe;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
}

.stat-card.selected {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.1);
}

/* ICON */
.icon-wrapper {
  padding: 12px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.icon-wrapper.green {
  background: #22c55e;
}

.icon-wrapper.yellow {
  background: #facc15;
}

.icon-wrapper.red {
  background: #ef4444;
}

.icon-wrapper.indigo {
  background: #4f46e5;
}

.icon-selected {
  background: #4f46e5;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-white {
  color: #ffffff;
}

/* CONTENT */
.stat-content {
  display: flex;
  flex-direction: column;
}

.stat-label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #9ca3af;
  transition: color 0.2s ease;
}

.stat-label.active {
  color: #111827
}

.stat-value {
  margin-top: 4px;
  font-size: 24px;
  font-weight: 900;
  color: #111827;
  line-height: 1;
}

.stat-card.green:hover {
  border-color: #22c55e;
  box-shadow: 0 6px 16px rgba(34, 197, 94, 0.2);
}

.stat-card.green.selected {
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.2);
}

.stat-card.yellow:hover {
  border-color: #facc15;
  box-shadow: 0 6px 16px rgba(250, 204, 21, 0.2);
}

.stat-card.yellow.selected {
  border-color: #facc15;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 0.2);
}

.stat-card.red:hover {
  border-color: #ef4444;
  box-shadow: 0 6px 16px rgba(239, 68, 68, 0.2);
}

.stat-card.red.selected {
  border-color: #ef4444;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
}

.stat-card.indigo:hover {
  border-color: #4f46e5;
  box-shadow: 0 6px 16px rgba(79, 70, 229, 0.2);
}

.stat-card.indigo.selected {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}
